{% extends 'base.html' %}

{% block content %}

<img src="https://cdn.nba.com/headshots/nba/latest/520x380/{{ bio.PERSON_ID}}.png" alt="">
<h1>{{bio.DISPLAY_FIRST_LAST}}</h1>
<h2>{{bio.TEAM_CITY}} {{bio.TEAM_NAME}}</h2>
<ul>
    <li>Birthday: {{ bio.BIRTHDATE|date:"F d Y" }}</li>
    <li>Height: {{bio.HEIGHT}}</li>
    <li>Experience: {{bio.SEASON_EXP}} seasons</li>
    <li>Jersey Number: {{bio.JERSEY}}</li>
    <li>Position: {{bio.POSITION}}</li>
</ul>
{% if stats %} 
<h3>Current Averages</h3>
<p>PTS: {{stats.PTS}} AST: {{stats.AST}} REB: {{stats.REB}}</p> 
{% else %}
<h3>No Available Stats For This Player</h3>
{% endif %}

{% endblock content %}

